.App {
  background-image: url('../../assets/bg.jpg');
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.App .mask {
  background-color: rgba(35, 39, 53, .9);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
